/*
Theme Name: Vantage-Child
Author: Kevin Bollman
Description: Your description goes here
Version: 1.0
Template: vantage
*/

/* =====================================================
   Global / Base Styles
===================================================== */

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color:#fff;
}

#main {
    color: #444;
}

img {
    border-radius: 7px;
}

a, .entry-content a, .entry-content a:visited, .dark-text a  {
    color: #1E3249;
}

a:hover, .entry-content a:hover{
    color: #E5D4B7;
}

.dark-text a:hover {
    color: #81735e;
}

p,
.entry-content {
    color: #444;
}


/* =====================================================
   Header / Masthead
===================================================== */

#masthead.masthead-logo-in-menu .main-navigation {
    zoom: 1;
}

#masthead.masthead-logo-in-menu .logo > img {
    filter: drop-shadow(1px 2px 6px #81735e);
    width: 55px;
}

.logo-wrapper img {
    max-height: 50px;
    max-width: 120px;
}

/* =====================================================
   Navigation
===================================================== */

.main-navigation {
    background: #1E3249;
}

.main-navigation ul li a,
.main-navigation-container a[href^="tel"] {
    color: #dbdbdb;
}

.main-navigation-container a[href^="tel"]:before {
    content: "\f095";
    font-family: FontAwesome;
    margin-right: 5px;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.focus > a {
    background: #E5D4B7;
    color: #1E3249;
}

/* =====================================================
   Homepage Layout
===================================================== */

body.home #main {
    padding-top: 0;
    padding-bottom: 0;
}

/* =====================================================
   Content & Gutenberg Blocks
===================================================== */

.entry-content > div[class^='wp-block-'] {
    margin-bottom: 0;
}

.wp-block-cover .has-background-dim:not([class*=-background-color]) {
    background-color: #f3edde;
}

/* Block animations */
.wp-block-group {
    filter: opacity(0.7);
    scale: 0.8;
    transition: all 0.5s ease-out;
}

.wp-block-group.visible,
.wp-block-cover.visible,
.wp-block-column.visible {
    scale: 1;
    filter: unset;
}

.wp-block-group.visible-no-animation {
    scale: 1;
    transition: unset;
    filter: unset;
}

/* =====================================================
   Buttons
===================================================== */

.wp-block-button .wp-element-button, button {
    background-color: #81735e;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 50px;
    font-weight: bold !important;
    font-size: 15px;
    transition: background-color 0.2s ease,
                transform 0.15s ease,
                box-shadow 0.15s ease;
}

.wp-block-button .wp-block-button__link:hover, button:hover {
    background-color: rgba(129, 115, 94, 0.8);
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: #fff;
}

/* =====================================================
   Hero / Special Sections
===================================================== */

.nfd-wb-hero__hero-20 .force-full-width .wp-block-cover__background {
    background: linear-gradient(
        90deg,
        rgba(243, 237, 221, 0.74) 50%,
        rgba(255, 255, 255, 0.1) 83%
    );
}

/* =====================================================
   Footer
===================================================== */

footer .dark-text {
    color: #333;
}

footer h3 {
    border-bottom: 1px solid #fff;
}

footer p,
footer a {
    color: white;
}

footer p.site-title {
    font-size: 18px;
    margin-bottom: 0;
}

/* =====================================================
   Hidden / Disabled Elements
===================================================== */

#search-icon #search-icon-icon,
.mobile-nav-frame form.search input[type=search] {
    display: none !important;
}

#colophon #theme-attribution,
#colophon #site-info {
    display: none !important;
}

/* =====================================================
   Responsive
===================================================== */

@media screen and (max-width: 800px) {

    .nfd-wb-hero__hero-20 img.wp-block-cover__image-background {
        opacity: 0.5;
    }

    .nfd-wb-hero__hero-20 .force-full-width .wp-block-cover__background {
        background: rgba(243, 237, 221, 0.55);
        opacity: 0.55;
    }

    .mobile-height-45vh {
        height: 80vh;
        min-height: 80vh;
    }

    .force-full-width .wp-block-cover__inner-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nfd-wb-hero__hero-20 .force-full-width .wp-block-columns {
        flex-direction: column;
    }

    .wp-block-group.has-background {
        padding:10px;
    }

    .wp-block-cover > img
    {
        border-radius: 0;
    }

    footer#colophon {
        padding-left: 10px;
        padding-right:10px;
    }

    footer footer-dets {
        text-align:center;
    }
    footer .copyright-text {
        text-align:center;
        display:flex;
    }
}
